@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
body{
	font-family: 'Signika', sans-serif;
	background: url('../images/bgs.jpg')no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	
	  

}
/*.bg{
	
  	
}*/
.content{
	margin: 8%;
	background-color: white;
	padding:4rem 1rem 4rem 1rem;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);

}
.signin-text{
	font-style: normal;
	font-weight: 600 !important;
}

.btn-class{
	border-color:#00ac96;
	color: #00ac96;
}
.btn-class:hover{
	background-color: #00ac96;
}

.card:hover {
      background-color: #C0C0C0 !important;

    }

h2{
	color: black;
	margin-left: 35vh;
	margin-top: 1vh;
}

div{
	border-top-right-radius:15px;
	border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

.form-control{
	border-width: 2px;
	border-color: silver;
	box-shadow: 3px 4px 2px 1px rgba(0, 0, 255, .2);
	width: 240px !important;
	
}
.form-container{border:1px solid #fff;margin-top: 5vh;margin-left: -30vh; width: 200%;height: 100%;
	-webkit-box-shadow: 2px 6px 28px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 28px 10px rgba(0,0,0,0.75);
box-shadow: 2px 6px 28px 10px rgba(0,0,0,0.75);
margin-bottom: 2vh;	
color: black;

}

.form-group{
	
	margin-left: 11vh;
	margin-top: 3vh;
}
.table-form{
	margin-top: 10vh;
}
th{
	width: 20vh;
	background-color: silver;
}
.table-control{
	border-width: 2px;
	border-color: silver;
	box-shadow: 3px 4px 2px 1px rgba(0, 0, 255, .2);
	width: 25vh !important;
}
table{
	empty-cells: show;
}


