<web-app>
<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>getController</servlet-name>
		<display-name>getController</display-name>
		<description/>
		<servlet-class>com.internproject.getController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getSController</servlet-name>
		<display-name>getSController</display-name>
		<description></description>
		<servlet-class>com.internproject.getSController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetProjectController</display-name>
		<servlet-name>GetProjectController</servlet-name>
		<servlet-class>com.internproject.GetProjectController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.internproject.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getController</servlet-name>
		<url-pattern>/getControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getSController</servlet-name>
		<url-pattern>/getSControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProjectController</servlet-name>
		<url-pattern>/GetProjectControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>